.content {
    margin: 0 auto;
    margin-top: 24px;
    width: 375px;
    padding: 0 24px;
}

.content div {
    width: 327px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 8px 10px;

    margin: 8px 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 184, 29);
    border-radius: 8px;
    gap: 10px;

}

.content div p {
    color: rgb(255, 255, 255);
    font-family: Mont;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
